
/* заголовок */

.header {
    display: grid;
    margin: 92px 24px 96px;
    padding-left: 26.52px;
    padding-right: 25.48px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 105px;
    align-items: center;
    gap: 13px;
}

.header_menu {
    grid-column: 1/2;
    
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header_logo {
    display: block;
    height: 100%;
    grid-column: 2/3;
    justify-self: center;
}

.header__logo-image {
    height: 100%;
}

.header__address {
    display: block;
    grid-column: 3/4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    justify-self: end;
}

/* оверлей */

.overlay {
    background-color: rgb(0 0 0/.6);
    position: absolute;
    width: 100%;
    height: 100%;
}

/* входная секция */

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
}

.cover__title {
    position: relative;
    padding: 165px 50px 0px;
    color:#fff;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.aligned-text {
    display: block;
    line-height: 115px;
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin-top: 20px;
    line-height: 100px;
}

.aligned-text_right {
    display: block;
    text-align: right;
    line-height: 100px;
    margin-top: 20px;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
   letter-spacing: 0px;
}

.cover__description {
    display: flex;
    position: relative;
    padding: 135px 50px 51px 82px;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    display: block;
    color:#fff;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18px;
}

.bet-button {
    display: inline-block;
    background-color: transparent;
    color:#fff;
    border: 1px solid #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 32px 11px 31px;
}

/* секция с карточками */

.lots {
    margin: 179px 24px 146px;
}

.lots__heading {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    margin-left: 40px;
}

.lots__card-list {
    display: flex;
    margin-top: 27px;
    margin-bottom: 30px;
    justify-content: space-between;
    list-style-type: none;
    
}

.lots__card-list-item {
    max-width: 334px;
    min-height: 563px;
    flex-grow: 1;
}

.card-link {
    display: block;
    position: relative;
    height: 100%;
    text-decoration: none;
    z-index: -1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.card__title {
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #fff;
}

.card__text {
    position: relative;
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
}

.lots__look-more-link {
    display: block;
    margin-left: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

/* секция об аукционе */

.about {
    display: grid;
    margin-right: 24px;
    margin-left: 24px;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 595px;
}

.about__column-left {
    grid-column: 1/2;
    justify-self: center;
}

.about__logo {
    display: flex;
    background-color: black;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column-right {
    grid-column: 2/3;
    padding-left: 24px;
    padding-top: 133px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.about__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.about__text {
   display: flex;
   flex-direction: column;
   gap: 26px;
}

/* Подвал сайта */

.footer {
    margin: 178px 50px 91px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 97px;
}

.footer__address {
    grid-column: 1/2;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

}

.footer_menu {
    grid-column: 2/3;
}

.footer__links-list {
    list-style-type: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.footer__socialmedia {
    grid-column: 3/4;
    justify-self: end;
}

.footer__socialmedia-list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    list-style-type: none;
}

.footer__socialmedia-list-link {
    display: block;
    height: 48px;
}

.footer__socialmedia-list-logo {
    height: 100%;
}