
main {
    background-color: #fff;
}

.header {
    display: grid;
    width: 1052px;
    margin: 92px 24px 96px;
    grid-template-columns: 387px 1fr 1fr;
    background-color:;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    
}

.header__links-list {
    display: flex;
    justify-content: space-around;
    grid-column: 1/2;
    
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header_logo {
    display: block;
    height: 105px;
    width: 148px;
    grid-column: 2/3;
}

.header__address {
    display: block;
    grid-column: 3/4;
}